.detailsImg {
    width: 300px;
    height: 400px;
}

.movieWrapper {
    display: flex;
}

.movieDescription {
    margin-left: 10px;
}

.navlink {
    color: yellowgreen;
    text-decoration: none;
    width: 70px;
    text-align: center;
    border: 2px solid rgb(2, 70, 38);

}

.navlink:hover {
    background-color: azure;
    box-shadow: 0px 0px 20px 5px cornflowerblue;
}

.navlink:first-child {
    margin-right: 10px;
}

.navigation {
    margin: 10px 50px;
    display: flex;
    height: 20px;
}