.list {
    margin: 0 auto;
    width: 400px;
    list-style: decimal;
    box-shadow: 0px 30px 40px 20px darkred;
    border: 2px solid darkred
}

.listItem {
    color: rgb(230, 71, 71);

}

.navLink {
    color: rgb(63, 7, 7);
    text-decoration: none;
}

.navLink:hover {
    color: rgb(230, 71, 71);
}